h2 {
	padding-left: 150px;
}

.wrapper {
	margin-top: 10px;
	position: relative;
	border: 1px solid black;
	padding: 5px 20px;
}

.main.wrapper {
	border: 0;
	position: relative;
	max-width: 600px;
}

.search.wrapper {
	width: 530px;
	height: auto;
}
.search.wrapper input{
	width: 200px;
	margin-left: 30px;
}
.search.wrapper input[type="submit"]{
	width: 132px;
}
.search.wrapper form table {
	margin-left: 100px;
}

.products.wrapper {
	display: inline-block;
	height: 400px;
	width: 530px;
	overflow-y: scroll;
}

.products.wrapper form {
	display: inline-block;
}

.products.wrapper h3 {
	display: inline-block;
}

.product {
	margin: 10px;
}

.product-image, .product-info {
	display: inline-block;
}

.product-image {
	vertical-align: top;
	padding: 20px 5px;
	width: 25%;
}

.product-info {
	width: 60%;
}

.product-info p label {
	min-width: 100px;
}

.product-image img {
	display: inline-block;
	height: 110px;
	width: 110px;
}

#detailsite {
	padding-left: 0;
}

a:link { color:#000000; }
a:visited { color:#000000; }
a:active { color:#808080; }